body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
fieldset {
    width: 60%;
    float: right;
    background-color: white;
    margin-right: 20%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: -5px 5px 4px#8d9191;
    margin-top: 6%;
    
}

.btn {
    font-size: 100%;
    border-radius: 3rem;
    letter-spacing: .1rem;
    font-weight: Arial;
    padding: -1rem;  
}

legend h1 {
    color: #807e7e;   
}